* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Montserrat';
}

.main_section {
    display: flex;
    flex-direction: column;
}

.main_section__header {
    min-width: 100%;
    background-color: black;
    height: 10vh;
}

.main_section__video {
    height: 80vh;
    background-color: aqua;
    text-align: center;
    position: relative;
}

#my-video {
    z-index: -99;
    height: 80vh;
    width: 100vw;
    object-fit: cover;
    overflow: hidden;
    display: block;
}

.main_section__footer {
    min-width: 100%;
    background-color: black;
    height: 10vh;
}

.title {
    position: absolute;
    width: 100vw;
    height: 80vh;
    /* background-color: salmon; */
    z-index: 20;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

#title-box {

    width: 42vw;
    padding-left: 50px;
    padding-right: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 20;
    letter-spacing: 26px;
    font-size: 1.8rem;
    border-style: none;
    border-width: 2px;

}

#title-box:hover {
    background-color: white;
    transition: 0.3s;
}

a {
    text-decoration: none !important;
    color: white;
}

#title-box:hover a {
    color: black;
    transition: 0.3s;
}












/* This css is for the about me page */

#aboutMePage {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}


#aboutMeContainer {
    width: 30%;
    height: 100%;
    padding-left: 30;
    float: left;
    position: fixed;
    text-align: right;



}


#sarah-at-school {
    height: 290px;
    padding: 6px;

}


#sarah-in-forest {
    height: 420px;
    padding: 6px;

}

#sarah-walking-forest {
    height: 420px;
    padding: 6px;
    float: left
}


#school {
    height: 390px;
    padding: 6px;

}



#title {
    margin-left: 0;
    font-size: 25;
    padding-top: 20;
    text-align: right;
    font-family: 'Montserrat';


}

#aboutMeText {
    font-size: 17;
    padding-right: 60;
    padding-left: 65;

}


#instagram-logo2 {
    height: 40;
    padding-left: 280;
}

#rightContainer {
    float: right;
    width: 66%;
    height: 100%;

}