:root {
  --font-family: 'Montserrat'; }

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: var(--font-family); }

.heading-1 {
  line-height: 30px;
  text-align: right;
  font-weight: 550;
  z-index: 100;
  font-size: 3rem; }

.heading-2 {
  line-height: 30px;
  font-weight: 500;
  font-size: 4rem;
  text-transform: uppercase; }

a:link {
  text-decoration: none;
  color: black; }

a:visited {
  text-decoration: none;
  color: black; }

a:hover {
  color: gray;
  text-decoration: none; }

.main {
  display: grid;
  grid-template-columns: 20vw 1fr; }
  @media only screen and (max-width: 50em) {
    .main {
      grid-template-columns: 1fr; } }

/* Menu Page */
.side-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  padding: 1rem; }
  @media only screen and (max-width: 50em) {
    .side-nav {
      flex-direction: row;
      align-items: center; } }

.side-nav--sticky {
  position: fixed; }
  @media only screen and (max-width: 50em) {
    .side-nav--sticky {
      position: static; } }

.side-nav-inner {
  min-height: 100vh;
  display: flex;
  flex-direction: column; }
  @media only screen and (max-width: 50em) {
    .side-nav-inner {
      min-height: 100%; } }

.topnavbar {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 1rem; }
  @media only screen and (max-width: 50em) {
    .topnavbar {
      flex-direction: row; } }

.side-nav__list {
  display: flex;
  flex-direction: column; }
  @media only screen and (max-width: 50em) {
    .side-nav__list {
      flex-direction: row;
      margin: 0 auto; } }
  .side-nav__list > a {
    font-size: 1.7rem;
    margin-top: 2rem; }
    @media only screen and (max-width: 50em) {
      .side-nav__list > a {
        margin-right: 1rem;
        font-size: 1.5rem; } }

.btn {
  color: green;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  font-size: 1.7rem;
  transition: ease 0.3s; }

.btn:hover {
  transform: scale(1.1);
  transition: ease 0.3s; }

.btn:active {
  outline: 0;
  border: none; }

.side-nav__footer {
  padding-bottom: 3rem; }
  @media only screen and (max-width: 50em) {
    .side-nav__footer {
      display: none; } }
  .side-nav__footer a {
    color: #776868; }
    .side-nav__footer a i {
      font-size: 3rem;
      padding: 3px; }
      .side-nav__footer a i:hover {
        transform: scale(1.1);
        transition: all 0.3s ease; }

.footer__text {
  color: #776868;
  margin-top: 1rem; }

.footer_mobile {
  display: none; }

.main_section {
  display: grid;
  grid-template-rows: repeat(7, auto-fit); }

.about {
  display: flex;
  justify-content: center;
  padding: 10rem 10rem 10rem;
  align-items: center; }
  .about img {
    width: 50%;
    border-radius: 15%; }
  .about .about__text {
    padding-right: 5rem; }
    .about .about__text h2 {
      font-weight: 300; }

.main_section__goods {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  padding: 5rem 10rem; }
  .main_section__goods img {
    max-width: 100%;
    display: block;
    opacity: 1;
    transition: 0.5s ease;
    backface-visibility: hidden;
    border-radius: 50%; }

.image:hover {
  opacity: 0.4; }

.main_section__items {
  position: relative; }

.middle {
  transition: 0.3s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10; }

.main_section__items:hover .middle {
  opacity: 2; }

.text {
  font-size: 1.5rem;
  color: black;
  font-weight: 600; }

.order {
  padding: 5rem 10rem;
  display: flex;
  justify-content: space-around; }

.step {
  padding: 8rem; }

.contact-form {
  padding: 5rem 10rem; }

.inputBox {
  width: 100%;
  margin-top: 10px;
  padding: 2%; }

#sendBtn {
  border-style: solid;
  border-color: black;
  background-color: white; }

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4caf50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer; }

.form button:hover,
.form button:active,
.form button:focus {
  background: #43a047; }
