@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
:root {
  --font-family: "Open Sans"; }

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: var(--font-family); }

.heading-1 {
  line-height: 30px;
  text-align: right;
  font-weight: 550;
  z-index: 100;
  font-size: 3rem; }

.heading-2 {
  line-height: 30px;
  font-weight: 500;
  font-size: 4rem;
  text-transform: uppercase; }

.heading-3 {
  line-height: 20px;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase; }

a:link {
  text-decoration: none;
  color: black; }

a:visited {
  text-decoration: none;
  color: black; }

a:hover {
  color: gray;
  text-decoration: none; }

.margin-top {
  margin-top: 2rem; }

.contact-form {
  padding: 3rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center; }

.inputBox {
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
  border: none;
  background-color: #f1f1f1; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield; }

.choicebox {
  margin-top: 1.3rem;
  display: flex;
  align-items: center; }
  .choicebox input {
    margin-right: 1rem;
    width: 3rem;
    padding: 2px;
    text-align: center;
    border: none;
    background-color: #f1f1f1; }

.form-group__margin {
  margin-top: 2rem; }

.contact-form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: black;
  border: 0;
  width: 100%;
  padding: 1rem;
  margin-top: 3rem;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer; }

.contact-form button:hover,
.contact-form button:active,
.contact-form button:focus {
  background: burlywood; }

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh; }
  .header .logo {
    width: 10%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .header .logo h2 {
      font-size: 3rem;
      text-transform: uppercase;
      font-weight: 100; }
  .header ul {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    height: 80%;
    align-items: center; }
    .header ul li {
      list-style: none;
      font-size: 1.3rem;
      text-transform: uppercase;
      cursor: pointer; }
      .header ul li:hover {
        color: grey;
        transition: all ease 0.4s; }
  .header i {
    font-size: 2rem;
    cursor: pointer; }

.main .heroImage {
  background: url(/Gallery/IMG_6956.jpg);
  height: 100vh; }

.main .mainSection {
  display: flex;
  width: 80%;
  margin: 10rem auto; }
  .main .mainSection .mainSection__text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .main .mainSection .mainSection__text p {
      font-size: 2rem;
      margin: 1rem;
      font-weight: 100; }
  .main .mainSection .mainSection__image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .main .mainSection .mainSection__image img {
      width: 70%; }
  .main .mainSection__howItWorks {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    height: 50vh; }
    .main .mainSection__howItWorks .howItWorks__steps {
      display: flex;
      justify-content: space-evenly; }
      .main .mainSection__howItWorks .howItWorks__steps .howItWorks__item {
        padding: 2rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column; }
        .main .mainSection__howItWorks .howItWorks__steps .howItWorks__item h2 {
          text-transform: uppercase;
          margin-top: 2rem; }
        .main .mainSection__howItWorks .howItWorks__steps .howItWorks__item .howItWorks__icon {
          height: 100px;
          width: 100px;
          display: flex;
          justify-content: center;
          align-items: center; }
          .main .mainSection__howItWorks .howItWorks__steps .howItWorks__item .howItWorks__icon img {
            width: 100%; }

.main .heroImage {
  background: url(/Gallery/IMG_6955.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  .main .heroImage__overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.398);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
  .main .heroImage__text {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-10%, -50%);
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 50%; }
  .main .heroImage h1 {
    font-size: 10rem;
    color: white;
    text-transform: uppercase;
    font-weight: 900; }
  .main .heroImage button {
    width: fit-content;
    font-size: 1.5rem;
    padding: 10px 50px;
    border: 0;
    background-color: white;
    color: black;
    margin-top: 4rem;
    cursor: pointer; }
    .main .heroImage button:hover {
      background-color: black;
      color: white;
      border: 1px solid white; }
