:root {
    --font-family: 'Montserrat';

}


*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
}


.heading-1 {
    line-height: 30px;
    text-align: right;
    font-weight: 550;
    z-index: 100;
    font-size: 3rem;
}

.heading-2 {
    line-height: 30px;
    font-weight: 500;
    font-size: 4rem;
    text-transform: uppercase;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    color: gray;
    text-decoration: none;
}