@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; //1200px
$bp-medium: 62.5em; //1000px
$bp-medium-2: 50em; //800px
$bp-small: 37.5em; //600px
$bp-xsmall: 25em; //400px

:root {
  --font-family: "Open Sans";
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
}

.heading-1 {
  line-height: 30px;
  text-align: right;
  font-weight: 550;
  z-index: 100;
  font-size: 3rem;
}

.heading-2 {
  line-height: 30px;
  font-weight: 500;
  font-size: 4rem;
  text-transform: uppercase;
}

.heading-3 {
  line-height: 20px;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  color: gray;
  text-decoration: none;
}

.margin-top {
  margin-top: 2rem;
}
