// // global reset
// *,
// *::before,
// *::after {
//     margin: 0;
//     padding: 0;
//     box-sizing: inherit;

// }

// html {
//     box-sizing: border-box;
//     font-size: 62.5%;

// }

// body {
//     font-family: sans-serif;
//     color: white;
//     font-weight: 300;
//     line-height: 1.6;
// }
:root {
    --font-family: 'Montserrat';

}


*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
}


.heading-1 {
    line-height: 30px;
    text-align: right;
    font-weight: 550;
    z-index: 100;
}

.heading-2 {}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    color: gray;
    text-decoration: none;
}