.contact-form {
  padding: 3rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputBox {
  width: 75vw;
  margin-top: 1rem;
  padding: 1rem;
}

.choicebox {
  margin-top: 1.3rem;
  display: flex;
  align-items: center;

  & input {
    margin-right: 1rem;
    width: 4rem;
  }
}

.form-group__margin {
  margin-top: 2rem;
}

.contact-form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: black;
  border: 0;
  width: 100%;
  padding: 1rem;
  margin-top: 3rem;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.contact-form button:hover,
.contact-form button:active,
.contact-form button:focus {
  background: burlywood;
}
