.inputBox {
    width: 100%;
    margin-top: 10px;
    padding: 2%;
}

#sendBtn {
    border-style: solid;
    border-color: black;

    background-color: white;
}

.contact-form {
    width: 79%;
    height: 100%;
    display: flex;
    text-align: start;
    margin-top: 5rem;
}

.myContactForm {
    width: 90%;
    display: flex;
    justify-content: center;

}


.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
    background: #43A047;
}


.coming-soon {
    width: 77vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.coming-soon h2 {
    text-transform: uppercase;
    font-size: 3vw;
}