.contact-form {
  padding: 3rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputBox {
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
  border: none;
  background-color: rgb(241, 241, 241);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.choicebox {
  margin-top: 1.3rem;
  display: flex;
  align-items: center;

  & input {
    margin-right: 1rem;
    width: 3rem;
    padding: 2px;
    text-align: center;
    border: none;
    background-color: rgb(241, 241, 241);
  }
}

.form-group__margin {
  margin-top: 2rem;
}

.contact-form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: black;
  border: 0;
  width: 100%;
  padding: 1rem;
  margin-top: 3rem;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.contact-form button:hover,
.contact-form button:active,
.contact-form button:focus {
  background: burlywood;
}
