.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;

  & .logo {
    width: 10%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

    & h2 {
      font-size: 3rem;
      text-transform: uppercase;
      font-weight: 100;
    }
  }

  & ul {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    height: 80%;
    align-items: center;

    & li {
      list-style: none;
      font-size: 1.3rem;
      text-transform: uppercase;
      cursor: pointer;

      &:hover {
        color: grey;
        transition: all ease 0.4s;
      }
    }
  }

  & i {
    font-size: 2rem;
    cursor: pointer;
  }
}
