.header {
  //   background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;

  & .logo {
    // background-color: blue;
    width: 10%;
    font-size: 3rem;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    text-transform: uppercase;
  }

  & ul {
    display: flex;
    width: 50%;
    // background-color: yellow;
    justify-content: space-evenly;
    height: 80%;
    align-items: center;

    & li {
      list-style: none;
      font-size: 1.3rem;
      text-transform: uppercase;
      cursor: pointer;

      &:hover {
        color: grey;
        transition: all ease 0.4s;
      }
    }
  }
}
