/* Menu Page */

// SIDE NAVIGATION
.side-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  padding: 1rem;

  @media only screen and (max-width: $bp-medium-2) {
    flex-direction: row;
    align-items: center;
  }
}

.side-nav--sticky {
  position: fixed;

  @media only screen and (max-width: $bp-medium-2) {
    position: static;
  }
}

.side-nav-inner {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: $bp-medium-2) {
    min-height: 100%;
  }
}

.topnavbar {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 1rem;

  @media only screen and (max-width: $bp-medium-2) {
    flex-direction: row;
  }
}

.side-nav__list {
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: $bp-medium-2) {
    flex-direction: row;
    margin: 0 auto;
  }

  & > a {
    font-size: 1.7rem;
    margin-top: 2rem;

    @media only screen and (max-width: $bp-medium-2) {
      margin-right: 1rem;
      font-size: 1.5rem;
    }
  }
}

.btn {
  color: green;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  font-size: 1.7rem;
  transition: ease 0.3s;
}

.btn:hover {
  transform: scale(1.1);
  transition: ease 0.3s;
}

.btn:active {
  outline: 0;
  border: none;
}

.side-nav__footer {
  padding-bottom: 3rem;

  @media only screen and (max-width: $bp-medium-2) {
    display: none;
  }

  & a {
    color: rgb(119, 104, 104);

    & i {
      font-size: 3rem;
      padding: 3px;

      &:hover {
        transform: scale(1.1);
        transition: all 0.3s ease;
      }
    }
  }
}

.footer__text {
  color: rgb(119, 104, 104);
  margin-top: 1rem;
}

.footer_mobile {
  display: none;
}

// MENU SECTION OF PAGE
.main_section {
  display: grid;
  grid-template-rows: repeat(7, auto-fit);
}

.hero {
}

.about {
  display: flex;
  justify-content: center;
  padding: 10rem 10rem 10rem;
  align-items: center;

  & img {
    width: 50%;
    border-radius: 15%;
  }

  & .about__text {
    padding-right: 5rem;
    & h2 {
      font-weight: 300;
    }
  }
}

.main_section__goods {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  padding: 5rem 10rem;

  & img {
    max-width: 100%;
    display: block;
    opacity: 1;
    transition: 0.5s ease;
    backface-visibility: hidden;
    border-radius: 50%;
  }

  @media only screen and (max-width: $bp-medium-2) {
  }
}

.image:hover {
  opacity: 0.4;
}

.main_section__items {
  position: relative;
}

.middle {
  transition: 0.3s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
}

.main_section__items:hover .middle {
  opacity: 2;
}

.text {
  font-size: 1.5rem;
  color: black;
  font-weight: 600;
}

.order {
  padding: 5rem 10rem;
  display: flex;
  justify-content: space-around;
}

.step {
  // background-color: bisque;
  padding: 8rem;
}

// .main_page {
//   display: flex;
//   flex-direction: column;
// }

// .main_section__menu {
//   display: flex;
//   min-height: 100vh;
//   flex-direction: column;
//   text-align: center;
//   background-color: rgb(235, 238, 240);
//   padding: 2rem 5rem 5rem 5rem;
// }

// .menu__title {
//   margin: 8rem;
// }

// .menu__items {
//   //Use a 4 x 4 grid
//   display: grid;
//   grid-template-columns: repeat(4, 1fr);
//   column-gap: 2rem;
//   row-gap: 1rem;
// }

// .menu__items li {
//   padding: 3rem;
//   list-style: none;
//   line-height: 2rem;
//   font-size: 1.4rem;
//   font-weight: 500;
//   border-radius: 5px;
//   border: solid;
//   border-width: 1px;
//   border-color: gray;
// }

// .menu__items li:hover {
//   color: white;
//   background-color: #43a047;
//   cursor: pointer;
//   transform: scale(1.1);
//   transition: ease 0.3s;
// }
