/* Menu Page */




// SIDE NAVIGATION
.side-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    padding: 1rem;
}

.side-nav--sticky {
    position: fixed;
}

.side-nav-inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.topnavbar {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 1rem;
}

.side-nav__list {
    display: flex;
    flex-direction: column;

    &>a {
        font-size: 1.7rem;
        margin-top: 2rem;
    }
}

.btn {
    color: green;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    font-size: 1.7rem;
    transition: ease .3s;

}

.btn:hover {
    transform: scale(1.1);
    transition: ease .3s;
}

.btn:active {
    outline: 0;
    border: none;
}

.side-nav__footer {
    padding-bottom: 3rem;

    & a {
        color: rgb(119, 104, 104);

        & i {
            font-size: 3rem;
            padding: 3px;

            &:hover {
                transform: scale(1.1);
                transition: all 0.3s ease;
            }
        }
    }
}

.footer__text {
    color: rgb(119, 104, 104);
    margin-top: 1rem;
}

.footer_mobile {
    display: none;
}


// MENU SECTION OF PAGE
.main_page {
    display: flex;
    flex-direction: column;
}


.main_section__menu {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
    background-color: rgb(235, 238, 240);
    padding: 2rem 5rem 5rem 5rem;
}

.menu__title {
    margin: 8rem;
}

.menu__items {
    //Use a 4 x 4 grid
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
    row-gap: 1rem;
}

.menu__items li {
    padding: 3rem;
    list-style: none;
    line-height: 2rem;
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: 5px;
    border: solid;
    border-width: 1px;
    border-color: gray;

}

.menu__items li:hover {
    color: white;
    background-color: #43A047;
    cursor: pointer;
    transform: scale(1.1);
    transition: ease .3s;
}