<section class="main_section__side-nav">
    <div class="sticky-side-nav">
    <div class="side-nav-inner">
        <div class="topnavbar">
        <p><a href="index.html" class="title-nav-bar">THE <br>BAKERESS</a></p>

        <div class="main_section__nav-list">
            <a href="menu.html">
                <p>OUR MENU</p>
            </a>
            <a href="gallery.html">
                <p>GALLERY</p>
            </a>
            <a href="Aboutme.html">
                <p>ABOUT ME</p>
            </a>
            <a href="contact.html" #contactMeBtn >
                <p>CONTACT US</p>
            </a>
            <br>
            <a href="menu.html"> <button class="btn btn-side-nav-bar" id="orderBtn">
                <p>COMING SOON!</p>
                <p> ORDER ONLINE</p>
            </button></a>
        </div>


        
    </div>

    <footer class="footer_non-mobile">
        <div>
                <a class="fab2" href="#" target="_blank"><i class="fab2 fab fa-facebook-f"></i>
                </a>
                <a href="#" target="_blank">
                    <i class="fab2 fab fa-twitter"></i>
                </a>

                <a href="https://www.instagram.com/sarah_the_bakeress/" target="_blank">
                    <i class="fab2 fab fa-instagram"></i>
                </a>
              
                <a href="#">
                    <i class="fab2 far fa-envelope"></i>
                </a>
        </div>
    
        <!-- <div id="footertext" class="justify-content-center align-items-center flex-row">
            <p> © 2020 The Bakeress. All rights reserved. 1.0
            </p>
        </div> -->
            
    </footer>
</div>